<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Image</th>
      <th scope="col">Description</th>
      <th scope="col">
          <a href="/cates/add" class="btn btn-success">Thêm</a>
      </th>
    </tr>
  </thead>
  <tbody>
      {{#each cates}}
        <tr>
            <td>{{this.name}}</td>
            <td>
                <img src="{{this.image}}" width="100" class="img-thumbnail">
            </td>
            <td>{{this.description}}</td>
            <td>
                <a href="/cates/edit/{{this._id}}" class="btn btn-sm btn-primary">Sửa</a>
                <a href="javascript:void(0);" 
                  onclick="confirmDelete('/cates/remove/{{this._id}}', '{{this.name}}')" 
                  class="btn btn-sm btn-danger">Xóa</a>
            </td>
        </tr>
      {{/each}}
  </tbody>
</table>
<script>
  function confirmDelete(url, catename){
    var conf = confirm(`Ban co chac chan muon xoa danh muc ${catename} `);
    if(conf == true){
      window.location.href = url;
    }
  }
</script>